
   <li><%= alumno.name %>     </li> 
   <li><%= alumno.last_name %></li> 
   <li><%= alumno.age %></li> 
   <li><%= alumno.curso %></li> 
   <li><a href="/delete/<%= alumno.id %>">Borrar</a></li> 
   <hr>
